body {
    font-family: 'Cairo', sans-serif;
    font-size: 1vw;
}

.mainDiv {
    background-color: rgb(45, 75, 60);
    width: 50vw;
    margin: auto;
    height: 30vw;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15.3vw 14.7vw;
    padding: 1vw;
    grid-template-areas:
    "information"
    "cards";
}

.cardsHolder {
    display: grid;
    grid-area: cards;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100%;
    padding-top: 1vw;
    grid-template-areas: "card01 card02 card03 card04 card05";
}

.infoHolder {
    display: grid;
    grid-area: information;
    grid-template-columns: 52% auto;
    grid-template-rows: 100%;
}

.cards {
    max-width: 100%;
    max-height: 90%;
    align-self: center;
    justify-self: center;
    animation: backInDown;
    animation-duration: 0.5s;
}

.cards:hover {
    transform: scale(1.2);;
}

.infoTable {
    min-width: 100%;
    min-height: 100%;
    color: gold;
    display: flex;
    flex-direction: column;
}

.infoRow {
    min-height: 1.7vw;
    display: grid;
    grid-template-columns: 34% 12% 12% 14% 14% 14%;
    grid-row: 100%;
    align-content: center;
}

.rowTitle {
    margin-left: 4%;
}

.controls {
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: 15% 85%;
}

.amounts {
    display: grid;
    grid-template-columns:50% 50%;
    grid-template-rows: 100%;
    color: gold;
    align-items: center;
    justify-items: right;
    font-size: 1.5vw;
    letter-spacing: 0.1vw;
}

.chipsButtons {
    display: grid;
    grid-template-columns:65% 35%;
    grid-template-rows: 100%;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2vw;
}

.mainButton {
    width: 100%;
    height: 30%;
    border: 1px solid white;
    color: white;
    background-color: black;
    border-radius: 0.4vw;
    font-size: 1vw;
    cursor: pointer;
}

.mainButton_disabled {
    opacity: 0.2;
    width: 100%;
    height: 30%;
    border: 1px solid black;
    color: black;
    background-color: white;
    border-radius: 0.4vw;
    font-size: 1vw;
}

.mainButton:hover {
    background-color: red;
}

.coins {
    max-width: 7vw;
    max-height: 7vw;
}

#coin1 {
    padding-left: 4vw;
    padding-top: 6vw;
    position: absolute;
    z-index: 1;
    animation: bounceInDown;
    animation-duration: 0.5s;
}

#coin2 {
    padding-left: 7vw;
    padding-top: 4vw;
    position: absolute;
    z-index: 2;
    animation: bounceInDown;
    animation-duration: 0.5s;
}

#coin3 {
    padding-left: 2vw;
    padding-top: 3vw;
    position: absolute;
    z-index: 3;
    animation: bounceInDown;
    animation-duration: 0.5s;
}

#coin4 {
    padding-left: 6vw;
    padding-top: 1vw;
    position: absolute;
    z-index: 4;
    animation: bounceInDown;
    animation-duration: 0.5s;
}

#coin5 {
    padding-left: 7vw;
    padding-top: 5vw;
    position: absolute;
    z-index: 5;
    animation: bounceInDown;
    animation-duration: 0.5s;
}

.pos01, .pos02, .pos03, .pos04, .pos05 {
    /* background-color: rgb(45, 75, 60); */
    min-width: 80%;
    text-align: right;
    padding-left: 10%;
    padding-right: 10%;
}

.selectedPos {
    /* background-color: green; */
    min-width: 70%;
    text-align: right;
    margin-left: 20%;
    padding-right: 10%;
}